@page "/"
<style>
h1 {text-align: center;}
p {text-align: center;}
</style>

<h1>Hello!</h1>

<p>Welcome to Applicant Management System Client.</p>
<p>Choose an action you want to take on the left hand side.</p>
